body {
    font-family: Arial, sans-serif;
}

h1,
h2 {
    text-align: center;
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;

    margin: 30px auto;

    flex-wrap: wrap;
}

input {
    padding: 8px;
}

button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #4CAF50;
    color: white;
}

.add-btn {
    background-color: #4CAF50;
    color: white;
}

.edit-btn {
    background-color: orange;
    color: white;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.dashboard {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card {
    background: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 180px;
    text-align: center;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-btn {
    background-color: orange;
    color: white;
    margin-right: 15px;
    margin-left: 20px;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    margin-left: 15px;
}

.input-section button {
    margin-left: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.search-box {
    width: 300px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.search-box:focus {
    outline: none;
    border-color: #4CAF50;
}

.filter-dropdown {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.chart-container {
    width: 300px;
    margin: 30px auto;
}

.export-btn {

    padding: 10px 20px;

    border: none;

    border-radius: 6px;

    cursor: pointer;

    margin-left: 10px;

}